<footer class="footer appear-animate">
    <div class="footer-top">
        <div class="container">
            <div class="form-wrapper form-wrapper-inline newsletter-form">
                <div class="icon-box icon-box-side mb-4 mb-lg-0">
                    <div class="icon-box-content">
                        <h4 class="icon-box-title text-white">Subscribe to the newsletter</h4>
                        <p class="text-white">Stay up to date regarding the newest product &amp; offers.</p>
                    </div>
                </div>
                <form action="#" method="get" class="input-wrapper input-wrapper-inline">
                    <input type="email" class="form-control font-primary " name="email" id="email"
                        placeholder="Enter Your E-mail Address..." required="">
                    <button class="btn btn-dark" type="submit">Subscribe<i
                            class="d-icon-arrow-right"></i></button>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="widget widget-about">
                        <a href="demo28.html" class="logo-footer">
                            <img src="./assets/images/STORE.svg" alt="logo-footer" width="154"
                                height="43" />
                        </a>
                        <div class="widget-body">
                            <p>Fringilla urna porttitor rhoncus dolor purus luctus <br> venenatis lectus magna
                                fringilla diam maecenas <br> ultricies mi eget mauris.
                            </p>
                            <a href="mailto:mailexample.com">mailexample.com</a>
                        </div>
                    </div>
                    <!-- End Widget -->
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="widget">
                                <h4 class="widget-title">About Us</h4>
                                <ul class="widget-body">
                                    <li>
                                        <a routerLink="/">Home</a>
                                    </li>
                                    <li>
                                        <a routerLink="/product">Product Page</a>
                                    </li>
                                    <li>
                                        <a routerLink="/shop">Shop Page</a>
                                    </li>
                                    <li>
                                        <a routerLink="/wishlist">Wishlist</a>
                                    </li>
                                    <li>
                                        <a routerLink="/cart">Cart</a>
                                    </li>
                                    <li>
                                        <a routerLink="/checkout">Checkout</a>
                                    </li>
                                    <li>
                                        <a routerLink="/order">Order</a>
                                    </li>
                                    <li>
                                        <a routerLink="/payment">Payment</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Widget -->
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4>
                                <ul class="widget-body">
                                    <li>
                                        <a href="#">Payment Methods</a>
                                    </li>
                                    <li>
                                        <a href="#">Money-back Guarantee!</a>
                                    </li>
                                    <li>
                                        <a href="#">Returns</a>
                                    </li>
                                    <li>
                                        <a href="#">Shipping</a>
                                    </li>
                                    <li>
                                        <a href="#">Terms and Conditions</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Widget -->
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4>
                                <ul class="widget-body">
                                    <li>
                                        <a routerLink="/my-account">My Account</a>
                                    </li>
                                    <li>
                                        <a routerLink="/about-us">About Us</a>
                                    </li>
                                    <li>
                                        <a routerLink="/contact-us">Contact Us</a>
                                    </li>
                                    <li>
                                        <a routerLink="/error-page">Error Page</a>
                                    </li>
                                    <li>
                                        <a routerLink="/comparison">Comparison Page</a>
                                    </li>
                                    <li>
                                        <a routerLink="/return-policies">Return Policies</a>
                                    </li>
                                    <li>
                                        <a routerLink="/confidentiality-policies">Confidentialty Policies</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Widget -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Footer Middle -->
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-left">
                <figure class="payment">
                    <img src="./assets/images/payment.png" alt="payment" width="159" height="29" />
                </figure>
            </div>
            <div class="footer-center">
                <p class="copyright">Riode eCommerce &copy; 2021. All Rights Reserved</p>
            </div>
            <div class="footer-right">
                <div class="social-links">
                    <a href="#" title="social-link" class="social-link social-facebook fab fa-facebook-f"></a>
                    <a href="#" title="social-link" class="social-link social-twitter fab fa-twitter"></a>
                    <a href="#" title="social-link" class="social-link social-linkedin fab fa-linkedin-in"></a>
                </div>
            </div>
        </div>
    </div>
</footer>