<footer class="footer">
    <div class="container">
        <div class="footer-middle">
            <div class="row pt-2">
                <div class="col-lg-2 d-flex align-items-center">
                    <div class="widget widget-about mb-0">
                        <a href="demo-food2.html" class="logo-footer">
                            <img src="./assets/images/STORE.svg" alt="logo-footer" width="154"
                                height="43" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-contact col-md-6 mb-4 mb-lg-0">
                    <div class="widget widget-contact">
                        <h4 class="widget-title">Get In Touch</h4>
                        <ul class="widget-body">
                            <li>
                                <label>Address</label> 123 Street Name, City, USA.
                            </li>
                            <li>
                                <label>Phone</label>
                                <a href="tel:#">Toll Free (123) 456-7890</a>
                            </li>
                            <li>
                                <label>Email</label>
                                <a href="mailto:mail@example.com">mailexample.com</a>
                            </li>
                            <li>
                                <label>WORKING DAYS/HOURS</label> Mon - Sun / 9:00AM - 8:00PM
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-account col-md-6 mb-4 mb-lg-0">
                    <div class="widget">
                        <h4 class="widget-title">My Account</h4>
                        <ul class="widget-body">
                            <li>
                                <a routerLink="/">Home</a>
                            </li>
                            <li>
                                <a routerLink="/product">Product Page</a>
                            </li>
                            <li>
                                <a routerLink="/shop">Shop Page</a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">Wishlist</a>
                            </li>
                            <li>
                                <a routerLink="/cart">Cart</a>
                            </li>
                            <li>
                                <a routerLink="/checkout">Checkout</a>
                            </li>
                            <li>
                                <a routerLink="/order">Order</a>
                            </li>
                            <li>
                                <a routerLink="/payment">Payment</a>
                            </li>
                            <li>
                                <a routerLink="/my-account">My Account</a>
                            </li>
                            <li>
                                <a routerLink="/about-us">About Us</a>
                            </li>
                            <li>
                                <a routerLink="/contact-us">Contact Us</a>
                            </li>
                            <li>
                                <a routerLink="/error-page">Error Page</a>
                            </li>
                            <li>
                                <a routerLink="/comparison">Comparison Page</a>
                            </li>
                            <li>
                                <a routerLink="/return-policies">Return Policies</a>
                            </li>
                            <li>
                                <a routerLink="/confidentiality-policies">Confidentialty Policies</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="widget widget-newsletter form-wrapper">
                        <div class="newsletter-info">
                            <h4 class="widget-title">Subscribe Newsletter</h4>
                            <p>Subscribe to the Riode eCommerce Newsletter Receive timely updates from your
                                favourite products.</p>
                        </div>
                        <form action="#" class="input-wrapper input-wrapper-inline">
                            <input type="email" class="form-control pl-4" name="email" id="email"
                                placeholder="Email address here..." required />
                            <button class="btn btn-primary btn-rounded btn-md ls-m ml-2"
                                type="submit">subscribe<i class="d-icon-arrow-right"></i></button>
                        </form>
                    </div>
                    <div class="social-links links">
                        <a href="#" class="social-link social-facebook fab fa-facebook-f"
                            title="Social Link"></a>
                        <a href="#" class="social-link social-twitter fab fa-twitter" title="Social Link"></a>
                        <a href="#" class="social-link social-instagram fab fa-instagram"
                            title="Social Link"></a>
                        <a href="#" class="social-link social-youtube fab fa-youtube" title="Social Link"></a>
                        <a href="#" class="social-link social-pinterest fab fa-pinterest"
                            title="Social Link"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End FooterMiddle -->
        <div class="footer-bottom">
            <div class="footer-left">
                <p class="copyright">Copyright &copy; 2021 Riode Store. All Rights Reserved.</p>
            </div>
            <div class="footer-right">
                <figure class="d-flex">
                    <img src="./assets/images/demos/demo-food2/payment-logo.png" alt="payment" width="272" height="20">
                </figure>
            </div>
        </div>
    </div>
    <!-- End FooterBottom -->
</footer>