<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-left">
                <div class="welcome-msg">
                    <a href="#" class="help ls-m"><i class="d-icon-info"></i>Receive on Wednesday from
                        6:00-8:00</a>
                </div>
            </div>
            <div class="header-right">
                <div class="dropdown">
                    <a href="#currency">USD</a>
                    <ul class="dropdown-box">
                        <li><a href="#USD">USD</a></li>
                        <li><a href="#EUR">EUR</a></li>
                    </ul>
                </div>
                <!-- End DropDown Menu -->
                <div class="dropdown">
                    <a href="#language">ENG</a>
                    <ul class="dropdown-box">
                        <li>
                            <a href="#USD">ENG</a>
                        </li>
                        <li>
                            <a href="#EUR">FRH</a>
                        </li>
                    </ul>
                </div>
                <!-- End DropDown Menu -->
                <span class="divider d-lg-show"></span>
                <div class="d-md-show">
                    <a href="contact-us.html" class="contact"><i class="d-icon-map"></i>Find Riode Store</a>
                </div>
                <span class="divider d-lg-show"></span>
                <div class="d-lg-show">
                    <a href="tel:#" class="call"><i class="d-icon-phone"></i>Call Us: 0(800) 123-456</a>
                </div>
                <div class="d-md-show">
                    <a class="btn btn-sm btn-primary font-weight-light text-normal" href="#">Quick Order</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End HeaderTop -->
    <app-navigation></app-navigation>
</header>